.container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.data {
  display: flex;
  flex-direction: column;
}

img, .userInfo {
  border-radius: 50%;
}
