.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login {
  width: 388px;
  height: 78px;
  font-size: 28px;
  border-radius: 30px;
}

.appname {
  font-family: 'Rock Salt', cursive;
  font-size: 36px;
}

.logo {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}
